@import "./mixins";
@import "./variables";


//Header
header{
    background-color: $bandSite-black;
    height: 13vh;
    
    
    @include tablet{
      height: 11vh;
    }
   
    
}
.header-top{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    @include tablet{
      flex-direction: row;
        justify-content: left;
        width: 31.25rem;
        margin-top: 0.625rem;
    }

    
    &__logo{
            
            margin: auto;
           img{
            width: 9.375rem;
            background-color: $bandSite-darkBlack;

           
              
            @include tablet{
                width: 9.375rem;
                margin-top: 0.625rem;
                &:hover{
                    width: 9.8rem;
                }
                
            }
            @include desktop{
                
                margin-top: 0.625rem;
               
            }
           }
                        
    }
       
}


.nav-bar{
   
    
    
    &__nav-list{
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;
        list-style-type: none;
        
    }
    &__nav-item{

       width: 50%;
           
        &__title{
            font-size:1.25rem;
            font-weight:400;
            line-height: 0.75rem;
            color: $white;
            text-decoration: none;
            font-family: Avenir-regular;
            padding: 0rem 1.875rem 1.125rem 1.25rem;
            text-align: left;
            width: 50%;
            &:hover{
                    border-bottom: 0.3rem $white solid;
                    padding-bottom: 1.7rem;
                    
                }
            @include tablet{
                font-size: 1.2rem;

            }
            @include desktop{
                font-size: 1rem;

            }

            &--highlighted{
            
            font-size:1.25rem;
            font-weight:400;
            line-height: 0.75rem;
            color: $white;
            text-decoration: none;
            font-family: Avenir-regular;
            border-bottom: $white solid;
            border-width: 0.3125rem;
            padding: 0rem 2.5rem 0.98rem 3.125rem;
           
            &:hover{
                border-bottom: 0.2rem $white solid;
                padding-bottom: 1.9rem;
                font-weight: 700;
                
            }
            @include tablet{
                padding: 1.6rem 0;
                border-width: 0.29rem;
                font-size: 1.2rem;
                
            }
            @include desktop{
                padding: 1.7rem 0;
                border-width: 0.29rem;
                font-size: 1rem;
            }
             
            }
              &:hover{
                   font-weight: 700;
                                        
                }
            }
        }
    
    }

    //Footer
    footer{
        background-color: $bandSite-black;
        font-family: Avenir-regular;
        color: $white;
        margin-top: 0;
    }

    .container{
       padding: 0.5rem 3rem;
       
      

        @include tablet{
            padding: 0.5 rem 0rem;
           
        }
        @include desktop{
         
            margin-left: 5.94rem;
        }
        
        &-block{

            @include tablet{
            display: flex;
            margin-bottom: 0;
            
            
            }
            &__contact{
                a{
                 text-decoration: none;
                 color: $white;

                 &:hover{
                    opacity: 50%;
                 }
                }
                
            }
            &__top{

                @include tablet{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                }

                &__logo{
                  
                  img{  background-color: $bandSite-darkBlack;
                    width: 9.4rem;
                    margin-top: 6.875rem;

                    &:hover{
                        width: 9.8rem;
                    }
            
                    @include tablet{
                    visibility: hidden;
                    margin: 0;    
                                      
                    }

                    
                }
            }
                h3{
                    font-size: 1.875rem;
                    margin-bottom: 1.5625rem;
                    margin-top: 2rem;
                    a{
                        text-decoration: none;
                        color: $white;

                        &:hover{
                            text-shadow: 1.5px 1.5px 1.5px rgba($color: #f1ebeb, $alpha: 1.0);
                        }
                    }

                    @include tablet{
                        font-size: 2.1875rem;
                        width: 30%;
                        margin-right: 0.3125rem;
                    }
                    @include desktop{
                        font-size: 2.1875rem;
                        width: 30%;
                       
                    }
                    
                }

                
            
        }
        &__bottom{

            padding: 0.625rem 0;

           @include tablet{
            width: 40%;
           }
           @include desktop{
            width: 18%;
            
           }
        }
        
        
        &__img{
            
            width: 2.1rem;
            margin: 0rem 2.8rem 1.5rem 0.25rem;
            &:hover{
               opacity: 50%;
            }
            @include tablet{
                padding-top: .5rem;
                margin: 2rem 2.8rem 0.625rem 0.25rem;
            }
            @include desktop{
               width: 2rem;
               //margin: 0rem 1.5625rem 0.625rem 0.25rem;
            }
            
            &--facebook{
                width: 1.2rem;
                margin: 0rem 2.8rem 1.5rem 0.25rem;
                &:hover{
                    opacity: 50%;
                 }

                @include tablet {
                    padding-top: 2.5rem;
                }
            }
            &--twitter{
                width: 2.3rem;
                margin: 0rem 2.8rem 1.5rem 0.25rem;
                &:hover{
                    opacity: 50%;
                 }
                @include tablet {
                    padding-top: 2.5rem;
                }
            }

            &--logo{
                visibility: hidden;

                @include tablet{
                    visibility: visible;
                    width: 9.375rem;
                    height: 5vh;
                    background-color: $bandSite-darkBlack;
                    margin: 2.5rem 0 0 9.6875rem;
                    &:hover{
                        width: 9.8rem;
                    }
                }
                @include tablet{
                   
                    margin: 2.5rem 0rem 0 10.25rem;
                }
                @include desktop{
                   
                    margin: 2.5rem 0rem 0 35rem;
                }
            }
        }
        &__item{
            
            padding: 0.5rem 0rem;
            @include tablet{
                margin-top: 2.1875rem;
            }

         
            h4, p{
                margin: 0.3125rem;
                
               
                @include tablet{
                    font-size: 0.9375rem;
                }
               
                @include desktop{
                    margin-bottom: 0;
                    margin-right: 0;
                    
                }

               
        }
        
    }
}      
        &__foot{

            @include tablet{
                margin-top: 0.625rem;
            }
            
        }
    }