@import "./mixins";
@import "./variables";


//Header
header{
    background-color: $bandSite-black;
    height: 13vh;
    
    
    @include tablet{
      height: 10vh;
    }
    @include desktop{
       //height: 8vh;
    }
    
    
}
.header-top{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    @include tablet{
      flex-direction: row;
        justify-content: left;
        width: 31.25rem;
        margin-top: 0.625rem;
    }

    
    &__logo{
            
            margin: auto;
           img{
            width: 9.375rem;
            background-color: $bandSite-darkBlack;
              
            @include tablet{
                width: 9.375rem;
                margin-top: 0.625rem;
                
            }
            @include desktop{
                width: 7.5rem;
                margin-top: 0.625rem;
                
            }
           }
                        
    }
       
}


.nav-bar{
   
    
    
    &__nav-list{
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;
        list-style-type: none;
        
    }
    &__nav-item{

       width: 50%;
           
        &__title{
            font-size:1.25rem;
            font-weight:400;
            line-height: 0.75rem;
            color: $white;
            text-decoration: none;
            font-family: Avenir-regular;
            padding: 0 1.875rem 1.125rem 1.25rem;
            text-align: left;
            width: 50%;
            &:hover{
                    border-bottom: 0.2rem $white solid;
                    padding-bottom: 1.9rem;
                    
                }
            @include tablet{
                font-size: 1.2rem;

            }
            @include desktop{
                font-size: 1rem;

            }

            &--highlighted{
            
            font-size:1.25rem;
            font-weight:400;
            line-height: 0.75rem;
            color: $white;
            text-decoration: none;
            font-family: Avenir-regular;
            border-bottom: $white solid;
            border-width: 0.3125rem;
            padding-bottom: 0.9719rem;
            padding-left: 3.125rem;
            padding-right: 2.5rem;
            &:hover{
                border-bottom: 0.2rem $white solid;
                padding-bottom: 1.9rem;
                
            }
            @include tablet{
                padding: 1.6rem 0;
                border-width: 0.29rem;
                font-size: 1.2rem;
                
            }
            @include desktop{
                padding: 1.7rem 0;
                border-width: 0.29rem;
                font-size: 1rem;
            }
             
            }
              &:hover{
                   font-weight: 700;
                                        
                }
            }
        }
    
    }

    //Footer
    footer{
        background-color: $bandSite-black;
        font-family: Avenir-regular;
        color: $white;
        margin-top: 0;
    }

    .container{
       padding: 0.5rem 3rem;
       width: 80%;

        @include tablet{
            padding: 0.5 rem 0rem;
            width: 90%;
        }
        @include desktop{
            width: 100%;
            margin-left: 9.375rem;
        }
        
        &-block{

            @include tablet{
            display: flex;
            margin-bottom: 0;
            
           
            }
            &__top{

                @include tablet{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                }

                &__logo{
                  
                  img{  background-color: $bandSite-darkBlack;
                    width: 9.375rem;
                    margin-top: 6.875rem;
            
                    @include tablet{
                    // width: 10rem;
                    // position: relative;
                    // bottom: 18.125rem;
                    // left: 50.625rem;
                    visibility: hidden;
                    margin: 0;    
                                      
                    }

                    // @include desktop{
                    // left: 58.75rem;
                    // }
                }
            }
                h3{
                    font-size: 1.875rem;
                    margin-bottom: 1.5625rem;

                    @include tablet{
                        font-size: 2.1875rem;
                        width: 30%;
                        margin-right: 0.3125rem;
                    }
                    @include desktop{
                        font-size: 2.1875rem;
                        width: 30%;
                        //margin-right: 0.3125rem;
                    }
                    
                }
            
        }
        &__bottom{
           @include tablet{
            width: 40%;
           }
           @include desktop{
            width: 18%;
            
           }
        }
        &__img{
            width: 1.875rem;
            
            @include tablet{
                padding-top: 1rem;
                margin: 0rem 2.8125rem 0.625rem 0.25rem;
            }
            @include desktop{
               width: 1.5625rem;
               //margin: 0rem 1.5625rem 0.625rem 0.25rem;
            }
            
            &--facebook{
                width: 1.125rem;
                margin: 0 2.8125rem 0.625rem 0.0625rem;

                @include tablet {
                    padding-top: 1rem;
                }
                
                
            }
            &--logo{
                visibility: hidden;

                @include tablet{
                    visibility: visible;
                    width: 9.375rem;
                    height: 5vh;
                    background-color: $bandSite-darkBlack;
                    margin: 2.5rem 0 0 9.6875rem;
                }
                @include tablet{
                   
                    margin: 2.5rem 0rem 0 6.25rem;
                }
            }
        }
        &__item{

            @include tablet{
                margin-top: 2.1875rem;
            }

         
            h4, p{
                margin: 0.3125rem;
               
                @include tablet{
                    font-size: 0.9375rem;
                }
               
                @include desktop{
                    margin-bottom: 0;
                    margin-right: 0;
                    
                }
        }
        
    }
}      
        &__foot{

            @include tablet{
                margin-top: 0.625rem;
            }
            
        }
    }