@import './mixins';
@import './global';
@import './variables';



.hero{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/images/hero-bio.jpg);
    height: 50vh;
    min-width: auto;
    background-size:cover;
   // overflow-x: hidden;
   
    
    @include tablet{
        height: 80vh;
        width: 100%;
        
    }
    
   
    &::before{
        content: "";
        position: absolute;
        top: 0rem;
        right: 0rem;
        bottom: 0rem;
        left: 0rem;
        background-color: rgba(50,50,50,0.50);
    }
    
    

    &__title{
        font-size: 32px;
        line-height: 32px;
        color:$white;
        position: relative;
        font-family: Avenir-regular;
        top: 25%;
        right: 40%;
       
        @include tablet{
            font-size: 60px;
            position: absolute;
            left: 5%;
            top: 35%;
            font-family: Avenir-demi;
        }
    }
   
}