@import './variables';
@import './mixins';

.message{

    @include tablet{
        margin-left: 30px;
    }
    @include desktop{
        margin-left: 10px;
    }
   
    h1{
        font-family: Avenir-demi;
        font-size: 1.8rem;

        @include tablet{
           margin: 20px 0 30px 10px;
           font-size: 2.3rem;
          
        }

        @include desktop{
          margin-left: 100px;
        }
    }
    &-container{

        
        @include desktop{
            width: 45%;
            margin-left: 500px;
        }
        hr{
            border: none;
                    background-color:$mercury;
                    height: 2px;
                    margin: 0;
                    padding: 0 70px;
                    position: relative;
                    width: 90%;
                    top: -55px;
                    left: -145px;

                    @include desktop{
                        left: -105px;
                    }
        }
       
        &__top{
            display: flex;
            
            img{
                width: 50px;
                height: 45px;
                border-radius: 80%;
                margin-left: 20px;
                position: relative;
                top: 12px;
                
            }
            &__posted{
            
                list-style-type: none;
               // height: fit-content;
              
                &__item{
                    color: $bandSite-black;
                    font-size: 1.5rem;
                    font-family: Avenir-bold;
                    margin-bottom: 65px;
                    position: relative;
                    left: -50px;
                    list-style-type: none;
                    
                }
                &__message{
                   
                    line-height: 2.0rem;
                    width: 80%;
                    color: $bandSite-black;
                    font-size: 1.5rem;
                    font-family: Avenir-regular;                 ;
                    margin: 1rem
                }
               
        }

            &__list{
                list-style-type: none;
             //  height: fit-content;
             
              
                &__item{
                    color: $bandSite-black;
                    font-size: 1rem;
                    font-family: Avenir-bold;
                    margin-bottom: 65px;
                    position: relative;
                    left: -10px;
                    
                }
                &__message{
                   
                    line-height: 2.0rem;
                    width: 80%;
                    color: $bandSite-black;
                    font-size: 1rem;
                    font-family: Avenir-regular;                 ;
                    //margin: 1rem;

                    
                }
               
               
                h3{
                    position: relative;
                    left: -10px;
                    top: 1px;
                    color: $bandSite-black;
                    font-size: 1rem;
                    font-family: Avenir-bold;
                    margin: 0;

                    @include tablet{
                        margin-top: 15px;
                        left: -40px;
                        top: -10px;
                    }
                    @include desktop{
                      left:-20px
                    }
                }
                p{
                    position: relative;
                    left: 240px;
                    top: -35px;
                    color: $silver;
                    font-size: 1rem;
                    font-family: Avenir-regular;
                    width: 100px;
                    @include tablet{
                        left: 480px;
                        top: -45px;
                    }
                    @include desktop{
                        left: 425px;
                    }
                }
                h4{
                    position: relative;
                    left: -10px;
                    line-height: 1.8rem;
                    top: -40px;
                    color: $bandSite-black;
                    font-size: 1rem;
                    font-family: Avenir-regular;
                    margin: 0;
                    width:90%;

                    @include tablet{
                        margin-top: 15px;
                        left: -40px;
                        top: -50px;
                    }

                    @include desktop{
                        font-size: 1rem;
                        left: -20px;
                    }
                }
                hr{
                    border: none;
                    background-color:$mercury;
                    height: 2px;
                    margin: 0;
                    padding: 0 80px;
                    position: relative;
                    width: 100%;
                    top: -55px;
                    left: -165px;

                   
                    
                 }
                 div{
                    background-color: $mercury;
                    border: 1px solid $mercury;
                    width: 45px;
                    height: 40px;
                    border-radius: 80%;
                    margin-left: 20px;
                    position: absolute;
                    left: 20px;
                    margin-bottom: 305px;

                    @include desktop{
                        margin-left: 530px;
                    }
                 }
            }
            
            
            
            &__form{
              
                max-height: fit-content;
                hr{
                    border: none;
                    background-color:$mercury;
                    height: 2px;
                    margin: 0;
                    padding: 0 70px;
                    margin: 0 2rem;
                    position: relative;
                    width: 85%;
                    top: -35px;
                    left: -105px;
                    
                    @include tablet{
                        top: -10px;
                      //  margin-top: 25px;
                    }
                    @include desktop{
                        left: -95px;
                    }
                    
                 }
                
                &__name{
                    position: relative;
                    left: 20px;
                    top: -25px;
                    color: $silver;
                    font-size: 0.85rem;
                    font-family: Avenir-regular;
                    width: 100px;
                    &__input{
                        padding: 5px 120px 5px 10px;
                        width: 350px;
                        margin: 15px 0px;
                        box-sizing: border-box;
                        border: 1px solid $mercury;
                        background-color: $white;
                        border-radius: 5px;
                        font-family: Avenir-regular;
                        position: relative;
                        top: -45px;
                        left: 20px;
                        text-align: left;
                        font-size: 1rem;
                        background-color: $alabaster;
                        
                            ::placeholder{
                                font-family: Avenir-regular;
                                font-size: 2rem;
                               
                                
                            
                        }
                        @include tablet{
                            width: 655px;
                        }
                        @include desktop{
                            width: 600px;
                        }
                    }
                }
                &__comment{
                    position: relative;
                    left: 20px;
                    top: -45px;
                    color: $silver;
                    font-size: 0.85rem;
                    font-family: Avenir-regular;
                    width: 100px;

                    @include tablet{
                        top: -40px;
                    }
                    &__input{
                        padding: 20px 80px 130px 10px;
                        height: 150px;
                        width: 350px;
                        margin: 15px 0px;
                        box-sizing: border-box;
                        border: 1px solid $mercury;
                        background-color: $white;
                        border-radius: 5px;
                        font-family: Avenir-regular;
                        position: relative;
                        top: -60px;
                        left: 20px;
                        font-size: 1rem;
                        background-color: $alabaster;
                        
                       

                        @include tablet{
                            height: 160px;
                            width: 655px;
                            top: -60px;
                            padding: 0px 120px 80px 16px;

                        }
                        @include desktop{
                            width: 600px;
                        }
                    }
                }

                &__btn{
                width: 350px;
                height: 60px;
                font-size: 1.2rem; 
                text-align: center;
                align-items: center;
                margin: 1rem 1rem;
                border-radius: 5px;
                background-color: $bandSite-black;
                text-decoration: none;
                color: $white;
                font-family: Avenir-regular;
                position: relative;
                top: -60px;

               
                &:hover{
                    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
                 
                }
                &:active{
                    transform: translateY(4px);
                }
                @include tablet{
                    width: 230px;
                    height: 65px;
                    top: -55px;
                    left: 430px;
                    font-size: 1.2rem;
                    font-family: Avenir-demi;
                    margin-bottom: 5px;
                }
                @include desktop{
                    width: 220px;
                    height: 55px;
                    top: -55px;
                    left: 380px;
                    font-size: 1.2rem;
                    font-family: Avenir-demi;
                  //  margin-bottom: 5px;
                }
                
                }
            }
            

        }
    }
}