@import './mixins';
@import './variables';

.gallery{
    background-color: $alabaster;
    
    h2{
        font-family: Avenir-demi;
        padding: 1rem 1rem;
        margin: 0;

        @include tablet{
            font-size: 2.25rem;
            padding-left: 1.8rem;
            margin-top: 1.875rem;
        }
        @include desktop{
            font-size: 2.25rem;
            padding-left: 7rem;
            margin-top: 1.875rem;
        }
    }
}

.photo-gallery{
    
    
    @include tablet{

        padding: 0 0.625rem;

    }
    @include desktop{

        padding: 0 0.5rem;

    }
    &__block{
        padding: 0 1rem;

        @include tablet{
            padding: 0 1.25rem;
        }

        @include desktop{
            margin-left: 4rem;
            //margin-bottom: 1.25rem;
        }
      
        img{
       width: 100%;
       height: 30vh;
       margin-bottom: 0.9375rem;
       &:hover{
        opacity: 90%;
       }
      
       @include tablet{
        width: 30%;
        height: 20vh;
        padding: 0 0.5rem;
       }

       @include desktop{
    
        height: 35vh;
        padding: 0.5rem 0.5rem 0 1rem;
        
       }
        }
    }
}