@import './global';
@import './mixins';
@import './variables';

//Section for shows listed

.shows{
    list-style-type: none;
    margin-top: 0;
    @include desktop{
        margin-top: 0;
        
    }
   
    h1{
        font-family:Avenir-demi;
        font-size: 1.5rem;
        padding: 1rem 0 0 1rem;
        margin-bottom: 0;
        
        @include tablet{
            font-size: 3rem;
            padding-left: 2.25rem;
            
        }
        @include desktop{
            position: relative;
            top: 4.6875rem;
        }
    }
   
    &-container{
      
                        

        @include desktop{
            width: 55%;
            margin-left: 31.25rem;

        }

                
        &__top{
            height: 0.625rem;
         

                @include tablet{
                    display: flex;
                    flex-direction: row;
                  width: 10%;
                  
                }
            &__header{
                visibility: hidden;
                padding: 0;
                margin: 0;
                border: none;
                
        @include tablet{
            
            visibility: visible;
            color: $silver;
            font-family: Avenir-regular;
            font-size: 1rem;
            width: 1.875rem;
            padding: 2rem 11.05rem 1rem 0.8rem;
            margin: 0;
            

            
        }
        &--third-column{
            visibility: hidden;
            padding: 0;
            margin: 0;
            border: none;

            @include tablet{
            visibility: visible;
            color: $silver;
            font-family: Avenir-regular;
            font-size: 1rem;
            width: 0.625rem;
            padding: 2rem 0rem 1rem 0;
            margin-top: 0;
            }
        }
    }
}
       
        
        &__block{
            padding: 0;
            margin: 0;
            height: 10%;

            
            @include tablet{
                display: flex;
                flex-direction: column;

               padding: 1rem 0;
               margin: 4rem 0;
               width: 40%;
                
            }
            &__item{
           
                @include tablet{
                    height: 5rem;
                    width: 250%;
                    margin: 0;
                }
                
                 &:hover{
                 background-color: $mercury;
                  }
                
                   hr{
                    border: none;
                   background-color:$mercury;
                    height: 0.125rem;
                    margin: 2.5rem 0 1.25rem 0;
                    width: 100%;
                    
                    @include tablet{
                    
                        position: relative;
                        right: -0.1875rem;
                        top: -16.25rem;
                        width: 95%;
                        
                      
                    }
                    @include desktop{
                        width: 100%;
                    }
                 }
               
                 &__header{

               
                
                    &--hidden{
                        color: $silver;
                        font-family: Avenir-regular;
                        font-size: 1rem;
                        padding: 0 0 0 1rem;
                        margin-top: 0;
    
                        @include tablet{
                            visibility: hidden;
                        }
                    }
                    
                        }
                
                &__text{
                    color: $bandSite-black;
                    font-family: Avenir-regular;
                    padding: 0.2rem 0 1rem 1rem;
                    font-size: 1.2rem;
                    line-height: 1rem;
                    width: 6.25rem;
                    @include tablet{
                        white-space: nowrap;
                        position: relative;
                        right: -14.063rem;
                        top: -5.9375rem;
                        font-size: 1.2rem;
                    }
                    
                    
                    
                    &--highlighted{
                        color: $bandSite-black;
                    font-family: Avenir-demi;
                    padding: 0.2rem 0rem 1rem 0rem;
                    font-size:1.2rem;
                    line-height: 1rem;
                    margin-left: 1rem;
    
                    @include tablet{
                        font-size: 1.5rem;
                        white-space: nowrap;
                        //position: relative;
                        right: 2.375rem;
                        top: 2.5rem;
                        font-size:1.2rem;
                    }
                    }
                    &--last-column{
                    color: $bandSite-black;
                    font-family: Avenir-regular;
                    padding: 0.2rem 0 1rem 1rem;
                    font-size: 1.2rem;
                    line-height: 1rem;
                    width: 6.25rem;
                    @include tablet{
                        font-size: 1.2rem;
                         white-space: nowrap;
                         position: relative;
                         right: -26.25rem;
                         top: -11.875rem;
                    }
                    }
                    
                }
                &__btn{
                    font-size: 1.2rem; 
                    text-align: center;
                    align-items: center;
                    padding: 1rem 8.5rem;
                    margin: 20rem 2rem;
                    border-radius: 5px;
                    background-color: $bandSite-black;
                    text-decoration: none;
                    color: $white;
                    font-family: Avenir-regular;
    
                    @include tablet{
                        
                        position: relative;
                        top: -15.625rem;
                        left: 40.9375rem;
                        padding: 1rem 3rem 1rem 3rem;
                        font-size: 1rem;
                        align-items: center;
                        font-family: Avenir-demi;
                        white-space: nowrap;
                    }
                    @include desktop{
                        left: 40rem;
                       
                    }
                }

            }
            
        }
    }
}
