@font-face {
    font-family: Avenir-regular;
    src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: Avenir-demi;
    src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
    font-weight: 600;
}
@font-face {
    font-family: Avenir-bold;
    src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
    font-weight: 700;
}

$bandSite-black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;
$bandSite-darkBlack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;