@font-face {
  font-family: Avenir-regular;
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir-demi;
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir-bold;
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
header {
  background-color: #323232;
  height: 13vh;
}
@media (min-width: 768px) {
  header {
    height: 11vh;
  }
}

.header-top {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .header-top {
    flex-direction: row;
    justify-content: left;
    width: 31.25rem;
    margin-top: 0.625rem;
  }
}
.header-top__logo {
  margin: auto;
}
.header-top__logo img {
  width: 9.375rem;
  background-color: #000000;
}
@media (min-width: 768px) {
  .header-top__logo img {
    width: 9.375rem;
    margin-top: 0.625rem;
  }
  .header-top__logo img:hover {
    width: 9.8rem;
  }
}
@media (min-width: 1280px) {
  .header-top__logo img {
    margin-top: 0.625rem;
  }
}

.nav-bar__nav-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
  list-style-type: none;
}
.nav-bar__nav-item {
  width: 50%;
}
.nav-bar__nav-item__title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 0.75rem;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Avenir-regular;
  padding: 0rem 1.875rem 1.125rem 1.25rem;
  text-align: left;
  width: 50%;
}
.nav-bar__nav-item__title:hover {
  border-bottom: 0.3rem #FFFFFF solid;
  padding-bottom: 1.7rem;
}
@media (min-width: 768px) {
  .nav-bar__nav-item__title {
    font-size: 1.2rem;
  }
}
@media (min-width: 1280px) {
  .nav-bar__nav-item__title {
    font-size: 1rem;
  }
}
.nav-bar__nav-item__title--highlighted {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 0.75rem;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Avenir-regular;
  border-bottom: #FFFFFF solid;
  border-width: 0.3125rem;
  padding: 0rem 2.5rem 0.98rem 3.125rem;
}
.nav-bar__nav-item__title--highlighted:hover {
  border-bottom: 0.2rem #FFFFFF solid;
  padding-bottom: 1.9rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .nav-bar__nav-item__title--highlighted {
    padding: 1.6rem 0;
    border-width: 0.29rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 1280px) {
  .nav-bar__nav-item__title--highlighted {
    padding: 1.7rem 0;
    border-width: 0.29rem;
    font-size: 1rem;
  }
}
.nav-bar__nav-item__title:hover {
  font-weight: 700;
}

footer {
  background-color: #323232;
  font-family: Avenir-regular;
  color: #FFFFFF;
  margin-top: 0;
}

.container {
  padding: 0.5rem 3rem;
}
@media (min-width: 768px) {
  .container {
    padding: 0.5 rem 0rem;
  }
}
@media (min-width: 1280px) {
  .container {
    margin-left: 5.94rem;
  }
}
@media (min-width: 768px) {
  .container-block {
    display: flex;
    margin-bottom: 0;
  }
}
.container-block__contact a {
  text-decoration: none;
  color: #FFFFFF;
}
.container-block__contact a:hover {
  opacity: 50%;
}
@media (min-width: 768px) {
  .container-block__top {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
.container-block__top__logo img {
  background-color: #000000;
  width: 9.4rem;
  margin-top: 6.875rem;
}
.container-block__top__logo img:hover {
  width: 9.8rem;
}
@media (min-width: 768px) {
  .container-block__top__logo img {
    visibility: hidden;
    margin: 0;
  }
}
.container-block__top h3 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
  margin-top: 2rem;
}
.container-block__top h3 a {
  text-decoration: none;
  color: #FFFFFF;
}
.container-block__top h3 a:hover {
  text-shadow: 1.5px 1.5px 1.5px #f1ebeb;
}
@media (min-width: 768px) {
  .container-block__top h3 {
    font-size: 2.1875rem;
    width: 30%;
    margin-right: 0.3125rem;
  }
}
@media (min-width: 1280px) {
  .container-block__top h3 {
    font-size: 2.1875rem;
    width: 30%;
  }
}
.container-block__bottom {
  padding: 0.625rem 0;
}
@media (min-width: 768px) {
  .container-block__bottom {
    width: 40%;
  }
}
@media (min-width: 1280px) {
  .container-block__bottom {
    width: 18%;
  }
}
.container-block__img {
  width: 2.1rem;
  margin: 0rem 2.8rem 1.5rem 0.25rem;
}
.container-block__img:hover {
  opacity: 50%;
}
@media (min-width: 768px) {
  .container-block__img {
    padding-top: 0.5rem;
    margin: 2rem 2.8rem 0.625rem 0.25rem;
  }
}
@media (min-width: 1280px) {
  .container-block__img {
    width: 2rem;
  }
}
.container-block__img--facebook {
  width: 1.2rem;
  margin: 0rem 2.8rem 1.5rem 0.25rem;
}
.container-block__img--facebook:hover {
  opacity: 50%;
}
@media (min-width: 768px) {
  .container-block__img--facebook {
    padding-top: 2.5rem;
  }
}
.container-block__img--twitter {
  width: 2.3rem;
  margin: 0rem 2.8rem 1.5rem 0.25rem;
}
.container-block__img--twitter:hover {
  opacity: 50%;
}
@media (min-width: 768px) {
  .container-block__img--twitter {
    padding-top: 2.5rem;
  }
}
.container-block__img--logo {
  visibility: hidden;
}
@media (min-width: 768px) {
  .container-block__img--logo {
    visibility: visible;
    width: 9.375rem;
    height: 5vh;
    background-color: #000000;
    margin: 2.5rem 0 0 9.6875rem;
  }
  .container-block__img--logo:hover {
    width: 9.8rem;
  }
}
@media (min-width: 768px) {
  .container-block__img--logo {
    margin: 2.5rem 0rem 0 10.25rem;
  }
}
@media (min-width: 1280px) {
  .container-block__img--logo {
    margin: 2.5rem 0rem 0 20.25rem;
  }
}
.container-block__item {
  padding: 0.5rem 0rem;
}
@media (min-width: 768px) {
  .container-block__item {
    margin-top: 2.1875rem;
  }
}
.container-block__item h4, .container-block__item p {
  margin: 0.3125rem;
}
@media (min-width: 768px) {
  .container-block__item h4, .container-block__item p {
    font-size: 0.9375rem;
  }
}
@media (min-width: 1280px) {
  .container-block__item h4, .container-block__item p {
    margin-bottom: 0;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .container__foot {
    margin-top: 0.625rem;
  }
}

@font-face {
  font-family: Avenir-regular;
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir-demi;
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir-bold;
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
header {
  background-color: #323232;
  height: 13vh;
}
@media (min-width: 768px) {
  header {
    height: 11vh;
  }
}

.header-top {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .header-top {
    flex-direction: row;
    justify-content: left;
    width: 31.25rem;
    margin-top: 0.625rem;
  }
}
.header-top__logo {
  margin: auto;
}
.header-top__logo img {
  width: 9.375rem;
  background-color: #000000;
}
@media (min-width: 768px) {
  .header-top__logo img {
    width: 9.375rem;
    margin-top: 0.625rem;
  }
  .header-top__logo img:hover {
    width: 9.8rem;
  }
}
@media (min-width: 1280px) {
  .header-top__logo img {
    margin-top: 0.625rem;
  }
}

.nav-bar__nav-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
  list-style-type: none;
}
.nav-bar__nav-item {
  width: 50%;
}
.nav-bar__nav-item__title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 0.75rem;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Avenir-regular;
  padding: 0rem 1.875rem 1.125rem 1.25rem;
  text-align: left;
  width: 50%;
}
.nav-bar__nav-item__title:hover {
  border-bottom: 0.3rem #FFFFFF solid;
  padding-bottom: 1.7rem;
}
@media (min-width: 768px) {
  .nav-bar__nav-item__title {
    font-size: 1.2rem;
  }
}
@media (min-width: 1280px) {
  .nav-bar__nav-item__title {
    font-size: 1rem;
  }
}
.nav-bar__nav-item__title--highlighted {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 0.75rem;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Avenir-regular;
  border-bottom: #FFFFFF solid;
  border-width: 0.3125rem;
  padding: 0rem 2.5rem 0.98rem 3.125rem;
}
.nav-bar__nav-item__title--highlighted:hover {
  border-bottom: 0.2rem #FFFFFF solid;
  padding-bottom: 1.9rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .nav-bar__nav-item__title--highlighted {
    padding: 1.6rem 0;
    border-width: 0.29rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 1280px) {
  .nav-bar__nav-item__title--highlighted {
    padding: 1.7rem 0;
    border-width: 0.29rem;
    font-size: 1rem;
  }
}
.nav-bar__nav-item__title:hover {
  font-weight: 700;
}

footer {
  background-color: #323232;
  font-family: Avenir-regular;
  color: #FFFFFF;
  margin-top: 0;
}

.container {
  padding: 0.5rem 3rem;
}
@media (min-width: 768px) {
  .container {
    padding: 0.5 rem 0rem;
  }
}
@media (min-width: 1280px) {
  .container {
    margin-left: 5.94rem;
  }
}
@media (min-width: 768px) {
  .container-block {
    display: flex;
    margin-bottom: 0;
  }
}
.container-block__contact a {
  text-decoration: none;
  color: #FFFFFF;
}
.container-block__contact a:hover {
  opacity: 50%;
}
@media (min-width: 768px) {
  .container-block__top {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
.container-block__top__logo img {
  background-color: #000000;
  width: 9.4rem;
  margin-top: 6.875rem;
}
.container-block__top__logo img:hover {
  width: 9.8rem;
}
@media (min-width: 768px) {
  .container-block__top__logo img {
    visibility: hidden;
    margin: 0;
  }
}
.container-block__top h3 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
  margin-top: 2rem;
}
.container-block__top h3 a {
  text-decoration: none;
  color: #FFFFFF;
}
.container-block__top h3 a:hover {
  text-shadow: 1.5px 1.5px 1.5px #f1ebeb;
}
@media (min-width: 768px) {
  .container-block__top h3 {
    font-size: 2.1875rem;
    width: 30%;
    margin-right: 0.3125rem;
  }
}
@media (min-width: 1280px) {
  .container-block__top h3 {
    font-size: 2.1875rem;
    width: 30%;
  }
}
.container-block__bottom {
  padding: 0.625rem 0;
}
@media (min-width: 768px) {
  .container-block__bottom {
    width: 40%;
  }
}
@media (min-width: 1280px) {
  .container-block__bottom {
    width: 18%;
  }
}
.container-block__img {
  width: 2.1rem;
  margin: 0rem 2.8rem 1.5rem 0.25rem;
}
.container-block__img:hover {
  opacity: 50%;
}
@media (min-width: 768px) {
  .container-block__img {
    padding-top: 0.5rem;
    margin: 2rem 2.8rem 0.625rem 0.25rem;
  }
}
@media (min-width: 1280px) {
  .container-block__img {
    width: 2rem;
  }
}
.container-block__img--facebook {
  width: 1.2rem;
  margin: 0rem 2.8rem 1.5rem 0.25rem;
}
.container-block__img--facebook:hover {
  opacity: 50%;
}
@media (min-width: 768px) {
  .container-block__img--facebook {
    padding-top: 2.5rem;
  }
}
.container-block__img--twitter {
  width: 2.3rem;
  margin: 0rem 2.8rem 1.5rem 0.25rem;
}
.container-block__img--twitter:hover {
  opacity: 50%;
}
@media (min-width: 768px) {
  .container-block__img--twitter {
    padding-top: 2.5rem;
  }
}
.container-block__img--logo {
  visibility: hidden;
}
@media (min-width: 768px) {
  .container-block__img--logo {
    visibility: visible;
    width: 9.375rem;
    height: 5vh;
    background-color: #000000;
    margin: 2.5rem 0 0 9.6875rem;
  }
  .container-block__img--logo:hover {
    width: 9.8rem;
  }
}
@media (min-width: 768px) {
  .container-block__img--logo {
    margin: 2.5rem 0rem 0 10.25rem;
  }
}
@media (min-width: 1280px) {
  .container-block__img--logo {
    margin: 2.5rem 0rem 0 20.25rem;
  }
}
.container-block__item {
  padding: 0.5rem 0rem;
}
@media (min-width: 768px) {
  .container-block__item {
    margin-top: 2.1875rem;
  }
}
.container-block__item h4, .container-block__item p {
  margin: 0.3125rem;
}
@media (min-width: 768px) {
  .container-block__item h4, .container-block__item p {
    font-size: 0.9375rem;
  }
}
@media (min-width: 1280px) {
  .container-block__item h4, .container-block__item p {
    margin-bottom: 0;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .container__foot {
    margin-top: 0.625rem;
  }
}

@font-face {
  font-family: Avenir-regular;
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir-demi;
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir-bold;
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
.hero {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/images/hero-bio.jpg);
  height: 50vh;
  min-width: auto;
  background-size: cover;
}
@media (min-width: 768px) {
  .hero {
    height: 80vh;
    width: 100%;
  }
}
.hero::before {
  content: "";
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  background-color: rgba(50, 50, 50, 0.5);
}
.hero__title {
  font-size: 2rem;
  line-height: 2rem;
  color: #FFFFFF;
  position: relative;
  font-family: Avenir-regular;
  top: 25%;
  right: 40%;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    position: absolute;
    width: 80%;
    left: 5%;
    top: 35%;
    font-family: Avenir-demi;
  }
}

@font-face {
  font-family: Avenir-regular;
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir-demi;
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir-bold;
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: Avenir-regular;
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir-demi;
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir-bold;
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
.title {
  font-size: 2rem;
  font-family: Avenir-demi;
  padding: 1rem 1rem 0rem 1rem;
  margin: 0.125rem 0 0.9375rem;
  text-align: left;
}
@media (min-width: 768px) {
  .title {
    font-size: 3rem;
    margin: 1.5625rem 0;
  }
}
@media (min-width: 1280px) {
  .title {
    font-size: 2rem;
    padding-left: 18.75rem;
  }
}

.biography {
  width: 100%;
  padding: 1.5rem 1rem 1rem 1rem;
  display: grid;
}
@media (min-width: 768px) {
  .biography {
    width: 80%;
    height: 95%;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .biography {
    width: 60%;
  }
}

.biography-container {
  padding: 1.5rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .biography-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 1280px) {
  .biography-container {
    padding: 0 2rem;
  }
}
.biography-container__text {
  font-family: Avenir-regular;
  font-size: 1.1875rem;
  line-height: 1.75rem;
  margin: 0.625rem 0;
}
@media (min-width: 768px) {
  .biography-container__text {
    font-family: Avenir-demi;
    margin: 0;
    font-size: 1.75rem;
    line-height: 2.5rem;
    align-items: left;
  }
}
@media (min-width: 1280px) {
  .biography-container__text {
    font-size: 1.375rem;
    line-height: 2.25rem;
    width: 70%;
    margin-left: 2.5rem;
  }
}
.biography-container__text__signature {
  font-family: Avenir-regular;
  font-size: 1.1875rem;
  margin-top: 0;
}
@media (min-width: 768px) {
  .biography-container__text__signature {
    margin-top: 0.625rem;
  }
}
@media (min-width: 1280px) {
  .biography-container__text__signature {
    font-size: 1rem;
    margin-left: 2.5rem;
  }
}
.biography-container__image {
  padding: 1.5rem 1rem 1rem 1rem;
  display: grid;
}
.biography-container__image img {
  max-width: 100%;
  height: 40vh;
  padding: 0 2rem 0 1rem;
  margin: auto;
}
@media (min-width: 768px) {
  .biography-container__image img {
    height: 45vh;
    width: 45rem;
    margin-bottom: 0.625rem;
  }
}
@media (min-width: 1280px) {
  .biography-container__image img {
    width: 55rem;
    height: 65vh;
  }
}

article {
  padding: 1.5rem 1rem 0 1rem;
  display: grid;
}
@media (min-width: 1280px) {
  article {
    width: 80%;
    margin-left: 9.375rem;
    padding: 0;
  }
}

.band-history {
  padding: 0 1rem;
  display: grid;
}
@media (min-width: 768px) {
  .band-history {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 5rem;
    width: 90%;
  }
}
@media (min-width: 1280px) {
  .band-history {
    width: 60%;
    margin: auto;
  }
}
.band-history__title h3 {
  font-family: Avenir-demi;
  margin-bottom: 0;
  margin: auto;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .band-history__title h3 {
    font-size: 2.25rem;
    padding: 0 7rem;
  }
}
@media (min-width: 1280px) {
  .band-history__title h3 {
    font-size: 1.5rem;
    margin-left: 10rem;
    margin-bottom: 0.625rem;
  }
}
.band-history__text {
  font-family: Avenir-regular;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  .band-history__text {
    font-size: 1.0625rem;
    line-height: 1.75rem;
    align-items: left;
    width: 40%;
  }
}
@media (min-width: 1280px) {
  .band-history__text {
    font-size: 0.9375rem;
    line-height: 1.5rem;
    align-items: left;
    width: 50%;
    margin-right: 1.1875rem;
    margin-bottom: 1.25rem;
  }
}

@font-face {
  font-family: Avenir-regular;
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir-demi;
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir-bold;
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
.gallery {
  background-color: #FAFAFA;
}
.gallery h2 {
  font-family: Avenir-demi;
  padding: 1rem 1rem;
  margin: 0;
}
@media (min-width: 768px) {
  .gallery h2 {
    font-size: 2.25rem;
    padding-left: 1.8rem;
    margin-top: 1.875rem;
  }
}
@media (min-width: 1280px) {
  .gallery h2 {
    font-size: 2.25rem;
    padding-left: 7rem;
    margin-top: 1.875rem;
  }
}

@media (min-width: 768px) {
  .photo-gallery {
    padding: 0 0.625rem;
  }
}
@media (min-width: 1280px) {
  .photo-gallery {
    padding: 0 0.5rem;
  }
}
.photo-gallery__block {
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .photo-gallery__block {
    padding: 0 1.25rem;
  }
}
@media (min-width: 1280px) {
  .photo-gallery__block {
    margin-left: 4rem;
  }
}
.photo-gallery__block img {
  width: 100%;
  height: 30vh;
  margin-bottom: 0.9375rem;
}
.photo-gallery__block img:hover {
  opacity: 90%;
}
@media (min-width: 768px) {
  .photo-gallery__block img {
    width: 30%;
    height: 20vh;
    padding: 0 0.5rem;
  }
}
@media (min-width: 1280px) {
  .photo-gallery__block img {
    height: 35vh;
    padding: 0.5rem 0.5rem 0 1rem;
  }
}

@font-face {
  font-family: Avenir-regular;
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir-demi;
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir-bold;
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
header {
  background-color: #323232;
  height: 13vh;
}
@media (min-width: 768px) {
  header {
    height: 11vh;
  }
}

.header-top {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .header-top {
    flex-direction: row;
    justify-content: left;
    width: 31.25rem;
    margin-top: 0.625rem;
  }
}
.header-top__logo {
  margin: auto;
}
.header-top__logo img {
  width: 9.375rem;
  background-color: #000000;
}
@media (min-width: 768px) {
  .header-top__logo img {
    width: 9.375rem;
    margin-top: 0.625rem;
  }
  .header-top__logo img:hover {
    width: 9.8rem;
  }
}
@media (min-width: 1280px) {
  .header-top__logo img {
    margin-top: 0.625rem;
  }
}

.nav-bar__nav-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
  list-style-type: none;
}
.nav-bar__nav-item {
  width: 50%;
}
.nav-bar__nav-item__title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 0.75rem;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Avenir-regular;
  padding: 0rem 1.875rem 1.125rem 1.25rem;
  text-align: left;
  width: 50%;
}
.nav-bar__nav-item__title:hover {
  border-bottom: 0.3rem #FFFFFF solid;
  padding-bottom: 1.7rem;
}
@media (min-width: 768px) {
  .nav-bar__nav-item__title {
    font-size: 1.2rem;
  }
}
@media (min-width: 1280px) {
  .nav-bar__nav-item__title {
    font-size: 1rem;
  }
}
.nav-bar__nav-item__title--highlighted {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 0.75rem;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Avenir-regular;
  border-bottom: #FFFFFF solid;
  border-width: 0.3125rem;
  padding: 0rem 2.5rem 0.98rem 3.125rem;
}
.nav-bar__nav-item__title--highlighted:hover {
  border-bottom: 0.2rem #FFFFFF solid;
  padding-bottom: 1.9rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .nav-bar__nav-item__title--highlighted {
    padding: 1.6rem 0;
    border-width: 0.29rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 1280px) {
  .nav-bar__nav-item__title--highlighted {
    padding: 1.7rem 0;
    border-width: 0.29rem;
    font-size: 1rem;
  }
}
.nav-bar__nav-item__title:hover {
  font-weight: 700;
}

footer {
  background-color: #323232;
  font-family: Avenir-regular;
  color: #FFFFFF;
  margin-top: 0;
}

.container {
  padding: 0.5rem 3rem;
}
@media (min-width: 768px) {
  .container {
    padding: 0.5 rem 0rem;
  }
}
@media (min-width: 1280px) {
  .container {
    margin-left: 5.94rem;
  }
}
@media (min-width: 768px) {
  .container-block {
    display: flex;
    margin-bottom: 0;
  }
}
.container-block__contact a {
  text-decoration: none;
  color: #FFFFFF;
}
.container-block__contact a:hover {
  opacity: 50%;
}
@media (min-width: 768px) {
  .container-block__top {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
.container-block__top__logo img {
  background-color: #000000;
  width: 9.4rem;
  margin-top: 6.875rem;
}
.container-block__top__logo img:hover {
  width: 9.8rem;
}
@media (min-width: 768px) {
  .container-block__top__logo img {
    visibility: hidden;
    margin: 0;
  }
}
.container-block__top h3 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
  margin-top: 2rem;
}
.container-block__top h3 a {
  text-decoration: none;
  color: #FFFFFF;
}
.container-block__top h3 a:hover {
  text-shadow: 1.5px 1.5px 1.5px #f1ebeb;
}
@media (min-width: 768px) {
  .container-block__top h3 {
    font-size: 2.1875rem;
    width: 30%;
    margin-right: 0.3125rem;
  }
}
@media (min-width: 1280px) {
  .container-block__top h3 {
    font-size: 2.1875rem;
    width: 30%;
  }
}
.container-block__bottom {
  padding: 0.625rem 0;
}
@media (min-width: 768px) {
  .container-block__bottom {
    width: 40%;
  }
}
@media (min-width: 1280px) {
  .container-block__bottom {
    width: 18%;
  }
}
.container-block__img {
  width: 2.1rem;
  margin: 0rem 2.8rem 1.5rem 0.25rem;
}
.container-block__img:hover {
  opacity: 50%;
}
@media (min-width: 768px) {
  .container-block__img {
    padding-top: 0.5rem;
    margin: 2rem 2.8rem 0.625rem 0.25rem;
  }
}
@media (min-width: 1280px) {
  .container-block__img {
    width: 2rem;
  }
}
.container-block__img--facebook {
  width: 1.2rem;
  margin: 0rem 2.8rem 1.5rem 0.25rem;
}
.container-block__img--facebook:hover {
  opacity: 50%;
}
@media (min-width: 768px) {
  .container-block__img--facebook {
    padding-top: 2.5rem;
  }
}
.container-block__img--twitter {
  width: 2.3rem;
  margin: 0rem 2.8rem 1.5rem 0.25rem;
}
.container-block__img--twitter:hover {
  opacity: 50%;
}
@media (min-width: 768px) {
  .container-block__img--twitter {
    padding-top: 2.5rem;
  }
}
.container-block__img--logo {
  visibility: hidden;
}
@media (min-width: 768px) {
  .container-block__img--logo {
    visibility: visible;
    width: 9.375rem;
    height: 5vh;
    background-color: #000000;
    margin: 2.5rem 0 0 9.6875rem;
  }
  .container-block__img--logo:hover {
    width: 9.8rem;
  }
}
@media (min-width: 768px) {
  .container-block__img--logo {
    margin: 2.5rem 0rem 0 10.25rem;
  }
}
@media (min-width: 1280px) {
  .container-block__img--logo {
    margin: 2.5rem 0rem 0 20.25rem;
  }
}
.container-block__item {
  padding: 0.5rem 0rem;
}
@media (min-width: 768px) {
  .container-block__item {
    margin-top: 2.1875rem;
  }
}
.container-block__item h4, .container-block__item p {
  margin: 0.3125rem;
}
@media (min-width: 768px) {
  .container-block__item h4, .container-block__item p {
    font-size: 0.9375rem;
  }
}
@media (min-width: 1280px) {
  .container-block__item h4, .container-block__item p {
    margin-bottom: 0;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .container__foot {
    margin-top: 0.625rem;
  }
}

@font-face {
  font-family: Avenir-regular;
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir-demi;
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir-bold;
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
.hero-shows {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/images/hero-shows.jpg);
  height: 50vh;
  min-width: auto;
  background-size: cover;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .hero-shows {
    height: 80vh;
    width: 100%;
  }
}
.hero-shows::before {
  content: "";
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  background-color: rgba(50, 50, 50, 0.5);
}
.hero-shows__title--album {
  font-size: 1.3rem;
  color: #FFFFFF;
  position: relative;
  font-family: Avenir-regular;
  left: 265px;
  bottom: 6rem;
  width: 500px;
}
@media (min-width: 768px) {
  .hero-shows__title--album {
    font-size: 3rem;
    width: 600px;
    position: absolute;
    left: 60px;
    top: 4rem;
    font-family: Avenir-demi;
  }
}
@media (min-width: 1280px) {
  .hero-shows__title--album {
    font-size: 2.3rem;
    position: absolute;
    left: 10%;
    top: 6rem;
    font-family: Avenir-regular;
  }
}
.hero-shows__title--music {
  font-size: 2.5rem;
  color: #FFFFFF;
  position: relative;
  font-family: Avenir-regular;
  left: 260px;
  bottom: 5.5rem;
  width: 70%;
}
@media (min-width: 768px) {
  .hero-shows__title--music {
    font-size: 4.3rem;
    width: 600px;
    bottom: 5rem;
    left: 140px;
  }
}
@media (min-width: 1280px) {
  .hero-shows__title--music {
    font-size: 4.8rem;
    width: 55%;
    bottom: 0.3rem;
    left: 75px;
  }
}

.hero-soundcloud {
  position: relative;
  top: 130px;
  left: -250px;
}
@media (min-width: 768px) {
  .hero-soundcloud {
    top: 250px;
    left: -465px;
  }
}
@media (min-width: 1280px) {
  .hero-soundcloud {
    top: 10px;
    left: -85px;
  }
}

@font-face {
  font-family: Avenir-regular;
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir-demi;
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir-bold;
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
header {
  background-color: #323232;
  height: 13vh;
}
@media (min-width: 768px) {
  header {
    height: 11vh;
  }
}

.header-top {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .header-top {
    flex-direction: row;
    justify-content: left;
    width: 31.25rem;
    margin-top: 0.625rem;
  }
}
.header-top__logo {
  margin: auto;
}
.header-top__logo img {
  width: 9.375rem;
  background-color: #000000;
}
@media (min-width: 768px) {
  .header-top__logo img {
    width: 9.375rem;
    margin-top: 0.625rem;
  }
  .header-top__logo img:hover {
    width: 9.8rem;
  }
}
@media (min-width: 1280px) {
  .header-top__logo img {
    margin-top: 0.625rem;
  }
}

.nav-bar__nav-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
  list-style-type: none;
}
.nav-bar__nav-item {
  width: 50%;
}
.nav-bar__nav-item__title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 0.75rem;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Avenir-regular;
  padding: 0rem 1.875rem 1.125rem 1.25rem;
  text-align: left;
  width: 50%;
}
.nav-bar__nav-item__title:hover {
  border-bottom: 0.3rem #FFFFFF solid;
  padding-bottom: 1.7rem;
}
@media (min-width: 768px) {
  .nav-bar__nav-item__title {
    font-size: 1.2rem;
  }
}
@media (min-width: 1280px) {
  .nav-bar__nav-item__title {
    font-size: 1rem;
  }
}
.nav-bar__nav-item__title--highlighted {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 0.75rem;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Avenir-regular;
  border-bottom: #FFFFFF solid;
  border-width: 0.3125rem;
  padding: 0rem 2.5rem 0.98rem 3.125rem;
}
.nav-bar__nav-item__title--highlighted:hover {
  border-bottom: 0.2rem #FFFFFF solid;
  padding-bottom: 1.9rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .nav-bar__nav-item__title--highlighted {
    padding: 1.6rem 0;
    border-width: 0.29rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 1280px) {
  .nav-bar__nav-item__title--highlighted {
    padding: 1.7rem 0;
    border-width: 0.29rem;
    font-size: 1rem;
  }
}
.nav-bar__nav-item__title:hover {
  font-weight: 700;
}

footer {
  background-color: #323232;
  font-family: Avenir-regular;
  color: #FFFFFF;
  margin-top: 0;
}

.container {
  padding: 0.5rem 3rem;
}
@media (min-width: 768px) {
  .container {
    padding: 0.5 rem 0rem;
  }
}
@media (min-width: 1280px) {
  .container {
    margin-left: 5.94rem;
  }
}
@media (min-width: 768px) {
  .container-block {
    display: flex;
    margin-bottom: 0;
  }
}
.container-block__contact a {
  text-decoration: none;
  color: #FFFFFF;
}
.container-block__contact a:hover {
  opacity: 50%;
}
@media (min-width: 768px) {
  .container-block__top {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
.container-block__top__logo img {
  background-color: #000000;
  width: 9.4rem;
  margin-top: 6.875rem;
}
.container-block__top__logo img:hover {
  width: 9.8rem;
}
@media (min-width: 768px) {
  .container-block__top__logo img {
    visibility: hidden;
    margin: 0;
  }
}
.container-block__top h3 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
  margin-top: 2rem;
}
.container-block__top h3 a {
  text-decoration: none;
  color: #FFFFFF;
}
.container-block__top h3 a:hover {
  text-shadow: 1.5px 1.5px 1.5px #f1ebeb;
}
@media (min-width: 768px) {
  .container-block__top h3 {
    font-size: 2.1875rem;
    width: 30%;
    margin-right: 0.3125rem;
  }
}
@media (min-width: 1280px) {
  .container-block__top h3 {
    font-size: 2.1875rem;
    width: 30%;
  }
}
.container-block__bottom {
  padding: 0.625rem 0;
}
@media (min-width: 768px) {
  .container-block__bottom {
    width: 40%;
  }
}
@media (min-width: 1280px) {
  .container-block__bottom {
    width: 18%;
  }
}
.container-block__img {
  width: 2.1rem;
  margin: 0rem 2.8rem 1.5rem 0.25rem;
}
.container-block__img:hover {
  opacity: 50%;
}
@media (min-width: 768px) {
  .container-block__img {
    padding-top: 0.5rem;
    margin: 2rem 2.8rem 0.625rem 0.25rem;
  }
}
@media (min-width: 1280px) {
  .container-block__img {
    width: 2rem;
  }
}
.container-block__img--facebook {
  width: 1.2rem;
  margin: 0rem 2.8rem 1.5rem 0.25rem;
}
.container-block__img--facebook:hover {
  opacity: 50%;
}
@media (min-width: 768px) {
  .container-block__img--facebook {
    padding-top: 2.5rem;
  }
}
.container-block__img--twitter {
  width: 2.3rem;
  margin: 0rem 2.8rem 1.5rem 0.25rem;
}
.container-block__img--twitter:hover {
  opacity: 50%;
}
@media (min-width: 768px) {
  .container-block__img--twitter {
    padding-top: 2.5rem;
  }
}
.container-block__img--logo {
  visibility: hidden;
}
@media (min-width: 768px) {
  .container-block__img--logo {
    visibility: visible;
    width: 9.375rem;
    height: 5vh;
    background-color: #000000;
    margin: 2.5rem 0 0 9.6875rem;
  }
  .container-block__img--logo:hover {
    width: 9.8rem;
  }
}
@media (min-width: 768px) {
  .container-block__img--logo {
    margin: 2.5rem 0rem 0 10.25rem;
  }
}
@media (min-width: 1280px) {
  .container-block__img--logo {
    margin: 2.5rem 0rem 0 20.25rem;
  }
}
.container-block__item {
  padding: 0.5rem 0rem;
}
@media (min-width: 768px) {
  .container-block__item {
    margin-top: 2.1875rem;
  }
}
.container-block__item h4, .container-block__item p {
  margin: 0.3125rem;
}
@media (min-width: 768px) {
  .container-block__item h4, .container-block__item p {
    font-size: 0.9375rem;
  }
}
@media (min-width: 1280px) {
  .container-block__item h4, .container-block__item p {
    margin-bottom: 0;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .container__foot {
    margin-top: 0.625rem;
  }
}

@font-face {
  font-family: Avenir-regular;
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir-demi;
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir-bold;
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
.shows {
  list-style-type: none;
  margin-top: 0;
}
@media (min-width: 1280px) {
  .shows {
    margin-top: 0;
  }
}
.shows h1 {
  font-family: Avenir-demi;
  font-size: 2.3rem;
  padding: 1rem 0 0 1rem;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .shows h1 {
    font-size: 3rem;
    padding-left: 36px;
  }
}
@media (min-width: 1280px) {
  .shows h1 {
    position: relative;
    top: 75px;
  }
}
.shows-container li {
  height: 415px;
}
@media (min-width: 768px) {
  .shows-container li {
    display: flex;
    flex-direction: row;
    height: 800px;
    width: 80%;
  }
}
@media (min-width: 768px) {
  .shows-container {
    width: 95%;
    margin-left: 1rem;
  }
}
@media (min-width: 1280px) {
  .shows-container {
    width: 55%;
    margin-left: 550px;
  }
}
.shows-container__top {
  height: 10px;
}
@media (min-width: 768px) {
  .shows-container__top {
    display: flex;
    flex-direction: row;
  }
}
.shows-container__top__header {
  visibility: hidden;
  padding: 0;
  margin: 0;
  border: none;
}
@media (min-width: 768px) {
  .shows-container__top__header {
    visibility: visible;
    color: #AFAFAF;
    font-family: Avenir-regular;
    font-size: 0.9rem;
    padding: 2rem 14rem 1rem 3rem;
    margin-top: 0;
    list-style-type: none;
  }
}
.shows-container hr {
  border: none;
  background-color: #E1E1E1;
  height: 2px;
  margin: 40px 0 20px 0;
  width: 100%;
}
.shows-container__block {
  padding: 0;
  margin: 0;
  height: 10%;
}
@media (min-width: 768px) {
  .shows-container__block {
    display: flex;
    flex-direction: column;
    height: 800px;
    padding-top: 2rem;
    margin: 2rem;
    width: 80%;
  }
}
.shows-container__block__text {
  color: #323232;
  font-family: Avenir-regular;
  font-size: 1.5rem;
  line-height: 1rem;
}
.shows-container__block__text__one {
  color: #323232;
  font-family: Avenir-regular;
  padding: 0.2rem 0 1rem 1rem;
  font-size: 1rem;
  line-height: 1rem;
}
@media (min-width: 768px) {
  .shows-container__block__text__one {
    font-size: 1.1rem;
    padding: 0rem 4rem 0 6rem;
  }
}
.shows-container__block__text__two {
  color: #323232;
  font-family: Avenir-regular;
  padding: 0.2rem 0 1rem 1rem;
  font-size: 1rem;
  line-height: 1rem;
}
@media (min-width: 768px) {
  .shows-container__block__text__two {
    font-size: 1.1rem;
    padding: 0rem 5rem 0 6.5rem;
  }
}
.shows-container__block__text__three {
  color: #323232;
  font-family: Avenir-regular;
  padding: 0.2rem 0 1rem 1rem;
  font-size: 1rem;
  line-height: 1rem;
}
@media (min-width: 768px) {
  .shows-container__block__text__three {
    font-size: 1.1rem;
    padding: 0rem 3.8rem 0 7.3rem;
  }
}
.shows-container__block__text__four {
  color: #323232;
  font-family: Avenir-regular;
  padding: 0.2rem 0 1rem 1rem;
  font-size: 1rem;
  line-height: 1rem;
}
@media (min-width: 768px) {
  .shows-container__block__text__four {
    font-size: 1.1rem;
    padding: 0rem 3.2rem 0 7rem;
  }
}
.shows-container__block__text__five {
  color: #323232;
  font-family: Avenir-regular;
  padding: 0.2rem 0 1rem 1rem;
  font-size: 1rem;
  line-height: 1rem;
}
@media (min-width: 768px) {
  .shows-container__block__text__five {
    font-size: 1.1rem;
    padding: 0rem 2.5rem 0 7.1rem;
  }
}
.shows-container__block__text__six {
  color: #323232;
  font-family: Avenir-regular;
  padding: 0.2rem 0 1rem 1rem;
  font-size: 1rem;
  line-height: 1rem;
}
@media (min-width: 768px) {
  .shows-container__block__text__six {
    font-size: 1.1rem;
    padding: 0rem 5rem 0 6rem;
  }
}
.shows-container__block__text--highlighted {
  color: #323232;
  font-family: Avenir-demi;
  padding: 0.2rem 0 1rem 1rem;
  font-size: 1.5rem;
  line-height: 1rem;
}
@media (min-width: 768px) {
  .shows-container__block__text--highlighted {
    font-size: 1.1rem;
    padding: 0rem 0 0 0rem;
  }
}
.shows-container__block__text__end {
  color: #323232;
  font-family: Avenir-regular;
  padding: 0.2rem 0 1rem 1rem;
  font-size: 1.5rem;
  line-height: 1rem;
}
@media (min-width: 768px) {
  .shows-container__block__text__end {
    font-size: 1.1rem;
    position: relative;
    left: 55px;
  }
}
.shows-container__block__btn {
  font-size: 1.3rem;
  text-align: center;
  align-items: center;
  padding: 1rem 10.9rem;
  margin: 20rem 2rem;
  border-radius: 5px;
  background-color: #323232;
  text-decoration: none;
  color: #FFFFFF;
  font-family: Avenir-regular;
}
@media (min-width: 768px) {
  .shows-container__block__btn {
    position: relative;
    top: -155px;
    left: 75px;
    padding: 1rem 2rem 2rem 2rem;
  }
}
.shows-container__block__header--hidden {
  color: #AFAFAF;
  font-family: Avenir-regular;
  font-size: 1.3rem;
  padding: 0 0 0 1rem;
  margin-top: 0;
}
@media (min-width: 768px) {
  .shows-container__block__header--hidden {
    visibility: hidden;
  }
}

@font-face {
  font-family: Avenir-regular;
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir-demi;
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir-bold;
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
.message h1 {
  font-family: Avenir-demi;
  font-size: 3rem;
}
.message-container__top {
  display: flex;
}
.message-container__top img {
  max-width: 70px;
  height: 65px;
  border-radius: 80%;
  margin-left: 20px;
}
.message-container__top p {
  position: relative;
  left: 50px;
  top: -25px;
  color: #AFAFAF;
  font-size: 1rem;
  font-family: Avenir-regular;
}
.message-container__top input {
  padding: 15px 120px;
  margin: 15px 0px;
  box-sizing: border-box;
  border: 3px solid #E1E1E1;
  background-color: #FFFFFF;
  border-radius: 5px;
  font-family: Avenir-regular;
}

* {
  border: 1px dashed red;
}/*# sourceMappingURL=bio.css.map */