@font-face {
  font-family: Avenir-regular;
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir-demi;
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir-bold;
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
header {
  background-color: #323232;
  height: 13vh;
}
@media (min-width: 768px) {
  header {
    height: 10vh;
  }
}
.header-top {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .header-top {
    flex-direction: row;
    justify-content: left;
    width: 500px;
    margin-top: 10px;
  }
}
.header-top__logo {
  margin: auto;
}
.header-top__logo img {
  width: 150px;
  background-color: #000000;
}
@media (min-width: 768px) {
  .header-top__logo img {
    width: 150px;
    margin-top: 10px;
  }
}
@media (min-width: 1280px) {
  .header-top__logo img {
    width: 120px;
    margin-top: 10px;
  }
}

.nav-bar__nav-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
}
.nav-bar__nav-item {
  width: 50%;
}
.nav-bar__nav-item li {
  list-style-type: none;
}
.nav-bar__nav-item__title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 0.75rem;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Avenir-regular;
  padding: 0 1.875rem 1.125rem 1.25rem;
  text-align: left;
  width: 50%;
}
.nav-bar__nav-item__title:hover {
  border-bottom: 0.2rem #FFFFFF solid;
  padding-bottom: 1.9rem;
}
@media (min-width: 768px) {
  .nav-bar__nav-item__title {
    font-size: 1.2rem;
  }
}
@media (min-width: 1280px) {
  .nav-bar__nav-item__title {
    font-size: 1rem;
  }
}
.nav-bar__nav-item__title--highlighted {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 0.75rem;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Avenir-regular;
  border-bottom: #FFFFFF solid;
  border-width: 0.3125rem;
  padding-bottom: 15.52px;
  padding-left: 3.125rem;
  padding-right: 2.5rem;
}
.nav-bar__nav-item__title--highlighted:hover {
  border-bottom: 0.2rem #FFFFFF solid;
  padding-bottom: 1.9rem;
}
@media (min-width: 768px) {
  .nav-bar__nav-item__title--highlighted {
    padding: 1.5rem 0;
    border-width: 0.29rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 1280px) {
  .nav-bar__nav-item__title--highlighted {
    padding: 1.5rem 0;
    border-width: 0.29rem;
    font-size: 1rem;
  }
}
.nav-bar__nav-item__title:hover {
  font-weight: 700;
}

.container {
  background-color: #323232;
  font-family: Avenir-regular;
  color: #FFFFFF;
  padding: 0.5rem 1rem;
  margin-top: 0;
}
.container-block__top h3 {
  font-size: 30px;
  margin-bottom: 25px;
}
.container-block__img {
  width: 30px;
  margin: 0px 45px 10px 1px;
}
.container-block__img--facebook {
  width: 18px;
  margin: 0 45px 10px 1px;
}
.container-block__item {
  margin-top: 20px;
}
.container-block__item h4, .container-block__item p {
  margin: 5px;
}
.container__logo {
  background-color: #000000;
  width: 150px;
  margin-top: 110px;
}

@font-face {
  font-family: Avenir-regular;
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir-demi;
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir-bold;
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
header {
  background-color: #323232;
  height: 13vh;
}
@media (min-width: 768px) {
  header {
    height: 10vh;
  }
}
.header-top {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .header-top {
    flex-direction: row;
    justify-content: left;
    width: 500px;
    margin-top: 10px;
  }
}
.header-top__logo {
  margin: auto;
}
.header-top__logo img {
  width: 150px;
  background-color: #000000;
}
@media (min-width: 768px) {
  .header-top__logo img {
    width: 150px;
    margin-top: 10px;
  }
}
@media (min-width: 1280px) {
  .header-top__logo img {
    width: 120px;
    margin-top: 10px;
  }
}

.nav-bar__nav-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
}
.nav-bar__nav-item {
  width: 50%;
}
.nav-bar__nav-item li {
  list-style-type: none;
}
.nav-bar__nav-item__title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 0.75rem;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Avenir-regular;
  padding: 0 1.875rem 1.125rem 1.25rem;
  text-align: left;
  width: 50%;
}
.nav-bar__nav-item__title:hover {
  border-bottom: 0.2rem #FFFFFF solid;
  padding-bottom: 1.9rem;
}
@media (min-width: 768px) {
  .nav-bar__nav-item__title {
    font-size: 1.2rem;
  }
}
@media (min-width: 1280px) {
  .nav-bar__nav-item__title {
    font-size: 1rem;
  }
}
.nav-bar__nav-item__title--highlighted {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 0.75rem;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Avenir-regular;
  border-bottom: #FFFFFF solid;
  border-width: 0.3125rem;
  padding-bottom: 15.52px;
  padding-left: 3.125rem;
  padding-right: 2.5rem;
}
.nav-bar__nav-item__title--highlighted:hover {
  border-bottom: 0.2rem #FFFFFF solid;
  padding-bottom: 1.9rem;
}
@media (min-width: 768px) {
  .nav-bar__nav-item__title--highlighted {
    padding: 1.5rem 0;
    border-width: 0.29rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 1280px) {
  .nav-bar__nav-item__title--highlighted {
    padding: 1.5rem 0;
    border-width: 0.29rem;
    font-size: 1rem;
  }
}
.nav-bar__nav-item__title:hover {
  font-weight: 700;
}

.container {
  background-color: #323232;
  font-family: Avenir-regular;
  color: #FFFFFF;
  padding: 0.5rem 1rem;
  margin-top: 0;
}
.container-block__top h3 {
  font-size: 30px;
  margin-bottom: 25px;
}
.container-block__img {
  width: 30px;
  margin: 0px 45px 10px 1px;
}
.container-block__img--facebook {
  width: 18px;
  margin: 0 45px 10px 1px;
}
.container-block__item {
  margin-top: 20px;
}
.container-block__item h4, .container-block__item p {
  margin: 5px;
}
.container__logo {
  background-color: #000000;
  width: 150px;
  margin-top: 110px;
}

@font-face {
  font-family: Avenir-regular;
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir-demi;
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir-bold;
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
.hero {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/images/hero-bio.jpg);
  height: 50vh;
  min-width: auto;
  background-size: cover;
}
@media (min-width: 768px) {
  .hero {
    height: 80vh;
    width: 100vw;
  }
}
.hero::before {
  content: "";
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  background-color: rgba(50, 50, 50, 0.5);
}
.hero__title {
  font-size: 32px;
  line-height: 32px;
  color: #FFFFFF;
  position: relative;
  font-family: Avenir-regular;
  top: 25%;
  right: 40%;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 60px;
    position: absolute;
    left: 5%;
    top: 35%;
    font-family: Avenir-demi;
  }
}

@font-face {
  font-family: Avenir-regular;
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir-demi;
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir-bold;
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: Avenir-regular;
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir-demi;
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir-bold;
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
.biography {
  padding: 1.5rem 1rem 1rem 1rem;
  display: grid;
}
.biography__title {
  font-size: 2rem;
  font-family: Avenir-demi;
  padding: 0 1rem;
  margin: 2px 0 15px;
  text-align: left;
}
@media (min-width: 768px) {
  .biography__title {
    font-size: 3rem;
    margin: 25px 0;
  }
}
@media (min-width: 1280px) {
  .biography__title {
    padding-left: 200px;
    font-size: 2rem;
  }
}
.biography img {
  max-width: 100%;
  height: 40vh;
  padding: 0 2rem 0 1rem;
  margin: auto;
}
@media (min-width: 768px) {
  .biography img {
    height: 65vh;
    width: 45rem;
    margin-bottom: 30px;
  }
}
@media (min-width: 1280px) {
  .biography img {
    width: 55rem;
    height: 75vh;
  }
}
.biography__text {
  font-family: Avenir-regular;
  font-size: 19px;
  line-height: 28px;
  padding: 0 1rem;
  margin: 10px 0;
}
@media (min-width: 768px) {
  .biography__text {
    font-family: Avenir-demi;
    width: 750px;
    font-size: 28px;
    line-height: 40px;
    padding: 0 4rem;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .biography__text {
    font-size: 22px;
    line-height: 36px;
    width: 655px;
    margin-left: 250px;
  }
}
.biography__text__signature {
  font-family: Avenir-regular;
  font-size: 19px;
  padding: 0 1rem;
  margin-top: 0;
}
@media (min-width: 768px) {
  .biography__text__signature {
    padding: 0 4rem;
    margin-top: 10px;
  }
}
@media (min-width: 1280px) {
  .biography__text__signature {
    font-size: 16px;
    margin-left: 250px;
  }
}

article {
  padding: 1.5rem 1rem 0 1rem;
  display: grid;
}
article h3 {
  font-family: Avenir-demi;
  margin-bottom: 0;
  padding: 0 1rem;
}

.band-history {
  padding: 0 1rem;
  display: grid;
}
.band-history__text {
  font-family: Avenir-regular;
  font-size: 14px;
  line-height: 22px;
}

.gallery h2 {
  font-family: Avenir-demi;
  padding: 0 1rem;
}

.photo-gallery__block {
  padding: 0 1rem;
}
.photo-gallery__block img {
  max-width: 100%;
  height: 40vh;
  margin-bottom: 15px;
}/*# sourceMappingURL=bio.css.map */